@page "/fetchdata"
@inject OCore.ServiceClient.Http.Client Client
@using Zoo.Interfaces
@using  OCore.ServiceClient.Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (greeting == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@greeting</h1>

}

@code {

    string greeting = "Loading";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var (response, status) = await Client.Invoke<IZoo, string>("Greet", "Larziboy");
            greeting = response;
            Console.WriteLine($"{response}/{status.ToString()}");

            var (r, s) = await Client.Invoke<IZoo, UserRegistrationResponse>("AddUser", new User {
                Name = "LarziBOY!",
                BirthDay = new DateTime(1974, 05, 21)
            });

            Console.WriteLine($"{r.Status}/{status.ToString()}");

            var client = Client.GetService<IZoo>();

            var r1 = await client.Greet("Lars Thomas");
            Console.WriteLine($"{r1}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"We got an exception: {ex.ToString()}");
        }
    }

}
